body {
  background-color: rgb(255, 250, 243);
  font-size: 0.9rem;
}

li {
  color: rgb(238, 198, 172);
  font-family: "Kanit";
}

h1 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: left;
  color: rgb(93, 128, 85);
  font-weight: 800;
  font-size: 1.9rem;
  font-family: "Newsreader";
  /* text-transform: uppercase; */
}

/* css for text aligned left and content centered!! (take note for other projects) */
h2 {
  color: rgb(119, 158, 110);
  font-weight: 600;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway";
  text-align: left;
  margin-top: 60px;
}

h3 {
  color: rgb(158, 202, 150);
  /* rgb(191, 221, 184) */
  font-weight: 600;
  font-size: 1.2;
  font-family: "Raleway";
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 20px;
}

p {
  color: rgb(148, 122, 105);
  font-weight: 300;
  font-family: "Kanit";
}
