body {
  background-color: white;
  font-size: 0.9rem;
}

li {
  color: rgb(238, 198, 172);
  font-family: "Kanit";
}

h1 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: left;
  color: rgb(93, 128, 85);
  font-weight: 800;
  font-size: 1.9rem;
  font-family: "Newsreader";
  /* text-transform: uppercase; */
}

/* css for text aligned left and content centered!! (take note for other projects) */
h2 {
  color: rgb(119, 158, 110);
  font-weight: 600;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway";
  text-align: left;
  margin-top: 60px;
}

h3 {
  color: rgb(153, 200, 160);
  /* rgb(191, 221, 184) */
  font-weight: 600;
  font-size: 0.96rem;
  font-family: "Raleway";
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 20px;
}

h4 {
  color: rgb(153, 200, 160);
  /* rgb(191, 221, 184) */
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Raleway";
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 20px;
}

.img {
  margin-left: 50%;
  display: block;
  margin: auto;
}

.blog-button {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 30px;
}
section {
  font-style: italic;
}

a {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 600;
  color: white;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  background-color: rgba(153, 200, 160, 0.719);
}

a:hover {
  background-color: rgb(98, 170, 104);
}

.img-arrow {
  margin-left: 26%;
  padding: 2px;
}

img:hover {
  background-color: #437d4d5f;
  color: rgb(255, 255, 255);
  border-radius: 80px;
  transition: ease;
}

p {
  color: rgb(148, 122, 105);
  font-weight: 300;
  font-family: "Kanit";
}
